body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
  font-family: 'Ubuntu', sans-serif;
}

.section-heading {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.coloured-section {
  background-color: #a7c5eb;
  color: #fff;
}

.price-section {
  background-color: #a7c5eb;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 2rem;
  font-family: "-light";
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 15%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 75%;
  position: absolute;
  right: 7%;
}

/* Features */
.icon {
  /* padding: 2.5rem 0; */
  /* font-size: 2.5rem; */
  color: #000;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #e9c496;
}

.feature-box {
  padding: 5%;
}

#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5 rem;
}

/* Testimonials Section */
#testimonials {
  background-color: #e9c496;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #e9c496;
}

/* Footer Section */
#footer {
  background-color: #fff;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }
}
